/* src/WeatherApp.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('./assets/cloudy_background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weathercontainer {
  flex: 1;
  max-width: 600px;
}

.weekly-forecast-container {
  flex: 1;
  max-width: 400px;
  margin-top: 20px;
  background-color: rgba(169, 169, 169, 0.5);
  border: 1px solid #555;
  border-radius: 8px;
  padding: 10px;
}

.weekly-forecast-container h3 {
  color: #333;
}

.weekly-forecast-container ul {
  list-style-type: none;
  padding: 0;
}

.weekly-forecast-container li {
  text-align: center;
  margin-bottom: 10px;
}

input,
button {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
}

.searchBar {
  margin-bottom: 20px;
}

h1 {
  font-family: 'Arial', sans-serif; 
  text-align: center; 
  margin-bottom: 20px; 
  text-transform: uppercase;
  letter-spacing: 2px; 
  position: relative; 
}
